.sessao1{
    background-image: url(../images/section1-bg.svg);
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 7% 0;
    gap: 2vh;
    height: 76vh;
}

.texto1,
.texto2{
    color: #fff;
}

.imagens{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.imagens img{
    height: 150px;
    transition: all .7s;
}

.imagens img:hover{
    height: 250px;
}

.botao{
    color: #fff;
}

.tituloOq,
.textoOq {
    color: #fff;
    width: 800px;
    text-align: center;
}

.textos1{
    display: flex;
    flex-direction: row;
    gap: 40%;
    justify-content: center;
    align-items: center;
}

/*animação pra flutuar os elementos*/
.icones{
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0%{
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-30px);
    }

    100%{
        transform: translateY(0px);
    }
}

.grupo1,
.grupo2{
    height: 10rem;
    width: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 40px; 
    gap: 2vh;
}

.grupo1{
    gap: 100px;
    padding: 40px;
}

.grupo2{
    gap: 100px;
    padding: 40px;
}

.textoMobile {
    display: none;
}


.sessao2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4% 0;
    gap: 10vh;
    padding-left: 50px;   
    background-image: url(../images/ece2de04f51330f203d51a12ac378f0c.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}


.introducao{
    color: #fff;
    display: flex;
    justify-content: center;
}

.projeto1,
.projeto2,
.projeto3,
.projeto4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.projeto2,
.projeto4{
    flex-direction: row-reverse;
    padding-right: 40px;
}

.img1,
.img2,
.img3,
.img4{
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
    padding-left: 2px;
    height: 10%;
    width: 40%;
    border: 3px solid rgb(255, 196, 0);
}

.textoCoca,
.textoPersonagem,
.textoDoctor,
.textoPanama{
    width: 800px;
    font-size: 2rem;
    color: #fff;
}

.tituloCoca,
.tituloPer,
.tituloDoctor,
.tituloPanama{
    color: #fff;
    text-align: center;
    padding-right: 15px;
}

.sessao3{
    background-image: url(../images/section1-bg.svg);
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 7% 0;
    gap: 3vh;
    height: 22vh;
}

.textoFooter {
    color: #fff;
    font-size: 50px;
}

.contato{
    font-size: 350%;
    color: #fff;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

.linha-horizontal {
    width: 1500px;
    border: 1px solid #fff;
}

.fim {
    color: #fff;
}


@media (max-width: 778px) {
    .sessao1{
        padding-top: 10%;
        height: 100%;
        width: 100%;
        gap: 10vh;
    }

    .imagens{
        flex-direction: column;
    }

   .texto1,
    .texto2 {
        font-size: 15px;
        padding-top: 8%;
        text-align: center;
    }
    .tituloOq{
        font-size: 20px;
    }
    .textoOq{
        font-size: 15px;
        height: 80px;
        width: 800px;
    }

    .icones{
        display: none;
    }

    .oq{
        display: none;
    }

    .tituloMobile{
        display: over-block;
    }
    .sessao2{
        height: 100%;
        width: 90%;
        display: flex;
    }

    .img1,
    .img2,
    .img3,
    .img4{
        display: none;
    }

    .introducao{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 5px;
    }

    .tituloCoca,
    .tituloPer,
    .tituloDoctor,
    .tituloPanama {
    padding-left: 1%;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

    .textoCoca,
    .textoPersonagem,
    .textoDoctor,
    .textoPanama{
        padding-left: 2%;
        font-size: 10px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .textoFooter{
        text-align: center;
    }

    .sessao3{
        width: 100%;
        height: 100%;
    }
}